# GroupBy multiple columns

In [2]:
import pandas as pd
df=pd.read_csv("fortune1000.csv",index_col="Rank")
df.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [6]:
#Lets group by Sector then Industry
gb_obj=df.groupby(["Sector","Industry"])
gb_obj

In [7]:
gb_obj.size()

Sector                      Industry
Aerospace & Defense         Aerospace and Defense                             20
Apparel                     Apparel                                           15
Business Services           Advertising, marketing                             2
                            Diversified Outsourcing Services                  14
                            Education                                          3
                            Financial Data Services                           19
                            Miscellaneous                                      3
                            Temporary Help                                     5
                            Waste Management                                   5
Chemicals                   Chemicals                                         30
Energy                      Energy                                            14
                            Mining, Crude-Oil Production                      28
                            Miscellaneous                                      1
                            Oil and Gas Equipment, Services                    9
                            Petroleum Refining                                17
                            Pipelines                                         12
                            Utilities: Gas and Electric                       41
Engineering & Construction  Engineering, Construction                         14
                            Homebuilders                                      12
Financials                  Commercial Banks                                  28
                            Diversified Financials                            15
                            Insurance: Life, Health (Mutual)                  10
                            Insurance: Life, Health (stock)                   18
                            Insurance: Property and Casualty (Mutual)          7
                            Insurance: Property and Casualty (Stock)          28
                            Real estate                                       15
                            Securities                                        18
Food and Drug Stores        Food and Drug Stores                              15
Food, Beverages & Tobacco   Beverages                                          9
                            Food Consumer Products                            20
                                                                              ..
Materials                   Metals                                            14
                            Miscellaneous                                      1
                            Packaging, Containers                             16
Media                       Entertainment                                     18
                            Publishing, Printing                               7
Motor Vehicles & Parts      Motor Vehicles and Parts                          24
Retailing                   Automotive Retailing, Services                    10
                            General Merchandisers                             10
                            Specialty Retailers: Apparel                      18
                            Specialty Retailers: Other                        42
Technology                  Computer Peripherals                               4
                            Computer Software                                 14
                            Computers, Office Equipment                        7
                            Information Technology Services                   13
                            Internet Services and Retailing                   15
                            Network and Other Communications Equipment        14
                            Scientific,Photographic and Control Equipment     12
                            Semiconductors and Other Electronic Components    23
Telecommunications          Telecommunications                                15
Transportation              Airlines                                           9
                            Mail, Package, and Freight Delivery                2
                            Miscellaneous                                      1
                            Railroads                                          5
                            Transportation Equipment                           5
                            Transportation and Logistics                       5
                            Trucking, Truck Leasing                            9
Wholesalers                 Miscellaneous                                      1
                            Wholesalers: Diversified                          25
                            Wholesalers: Electronics and Office Equipment      8
                            Wholesalers: Food and Grocery                      6
Length: 79, dtype: int64

This time it returns multi index series and the output is self explanatory

In [8]:
gb_obj["Profits"].sum()

Sector                      Industry
Aerospace & Defense         Aerospace and Defense                              28742
Apparel                     Apparel                                             8236
Business Services           Advertising, marketing                              1549
                            Diversified Outsourcing Services                    4305
                            Education                                             69
                            Financial Data Services                            17456
                            Miscellaneous                                       2130
                            Temporary Help                                      1000
                            Waste Management                                    1718
Chemicals                   Chemicals                                          22628
Energy                      Energy                                            -13038
                            Mining, Crude-Oil Production                     -124555
                            Miscellaneous                                        476
                            Oil and Gas Equipment, Services                    -4047
                            Petroleum Refining                                 31888
                            Pipelines                                           5814
                            Utilities: Gas and Electric                        30015
Engineering & Construction  Engineering, Construction                           1765
                            Homebuilders                                        3539
Financials                  Commercial Banks                                  129760
                            Diversified Financials                             28548
                            Insurance: Life, Health (Mutual)                    5601
                            Insurance: Life, Health (stock)                    19731
                            Insurance: Property and Casualty (Mutual)           8031
                            Insurance: Property and Casualty (Stock)           44803
                            Real estate                                         9480
                            Securities                                         14255
Food and Drug Stores        Food and Drug Stores                               16759
Food, Beverages & Tobacco   Beverages                                          11698
                            Food Consumer Products                             19263
                                                                               ...
Materials                   Metals                                             -2241
                            Miscellaneous                                          7
                            Packaging, Containers                               4445
Media                       Entertainment                                      25686
                            Publishing, Printing                               -1339
Motor Vehicles & Parts      Motor Vehicles and Parts                           25898
Retailing                   Automotive Retailing, Services                      2550
                            General Merchandisers                              20137
                            Specialty Retailers: Apparel                        4583
                            Specialty Retailers: Other                         20560
Technology                  Computer Peripherals                                3975
                            Computer Software                                  26457
                            Computers, Office Equipment                        58433
                            Information Technology Services                    16402
                            Internet Services and Retailing                    22232
                            Network and Other Communications Equipment         18907
                            Scientific,Photographic and Control Equipment       9346
                            Semiconductors and Other Electronic Components     24721
Telecommunications          Telecommunications                                 48637
Transportation              Airlines                                           23800
                            Mail, Package, and Freight Delivery                 5894
                            Miscellaneous                                        227
                            Railroads                                           9005
                            Transportation Equipment                            2438
                            Transportation and Logistics                         895
                            Trucking, Truck Leasing                             1910
Wholesalers                 Miscellaneous                                         17
                            Wholesalers: Diversified                            5193
                            Wholesalers: Electronics and Office Equipment       1857
                            Wholesalers: Food and Grocery                       1166
Name: Profits, Length: 79, dtype: int64

In [9]:
gb_obj[["Employees","Profits"]].mean()

                                                                               Employees  \
Sector                     Industry
Aerospace & Defense        Aerospace and Defense                            48402.850000
Apparel                    Apparel                                          23093.133333
Business Services          Advertising, marketing                           62050.000000
                           Diversified Outsourcing Services                 50595.000000
                           Education                                        15585.000000
                           Financial Data Services                          13943.473684
                           Miscellaneous                                    12573.333333
                           Temporary Help                                   12004.000000
                           Waste Management                                 23839.800000
Chemicals                  Chemicals                                        15455.033333
Energy                     Energy                                            5005.142857
                           Mining, Crude-Oil Production                      5325.357143
                           Miscellaneous                                     6700.000000
                           Oil and Gas Equipment, Services                  25088.333333
                           Petroleum Refining                               14404.705882
                           Pipelines                                         6011.750000
                           Utilities: Gas and Electric                      10249.487805
Engineering & Construction Engineering, Construction                        26293.142857
                           Homebuilders                                      3217.000000
Financials                 Commercial Banks                                 54965.142857
                           Diversified Financials                           21940.933333
                           Insurance: Life, Health (Mutual)                  5880.100000
                           Insurance: Life, Health (stock)                  11235.166667
                           Insurance: Property and Casualty (Mutual)        19021.142857
                           Insurance: Property and Casualty (Stock)         28361.535714
                           Real estate                                      10705.266667
                           Securities                                        7940.333333
Food and Drug Stores       Food and Drug Stores                             93026.533333
Food, Beverages & Tobacco  Beverages                                        22123.000000
                           Food Consumer Products                           33271.950000
...                                                                                  ...
Materials                  Metals                                           13825.642857
                           Miscellaneous                                       52.000000
                           Packaging, Containers                            20840.375000
Media                      Entertainment                                    21309.111111
                           Publishing, Printing                             23821.428571
Motor Vehicles & Parts     Motor Vehicles and Parts                         45106.666667
Retailing                  Automotive Retailing, Services                   17497.400000
                           General Merchandisers                           340810.000000
                           Specialty Retailers: Apparel                     42807.944444
                           Specialty Retailers: Other                       44619.333333
Technology                 Computer Peripherals                             43814.750000
                           Computer Software                                27771.142857
                           Computers, Office Equipment                      66869.285714
                           Information Technology Services                  75818.384615
                           Internet Services and Retailing                  28723.666667
                           Network and Other Communications Equipment       21379.285714
                           Scientific,Photographic and Control Equipment    19291.750000
                           Semiconductors and Other Electronic Components   26065.391304
Telecommunications         Telecommunications                               55497.866667
Transportation             Airlines                                         43511.222222
                           Mail, Package, and Freight Delivery             332137.500000
                           Miscellaneous                                     4200.000000
                           Railroads                                        24368.800000
                           Transportation Equipment                         11945.200000
                           Transportation and Logistics                     24938.200000
                           Trucking, Truck Leasing                          18939.555556
Wholesalers                Miscellaneous                                     9200.000000
                           Wholesalers: Diversified                          9353.240000
                           Wholesalers: Electronics and Office Equipment    20832.625000
                           Wholesalers: Food and Grocery                    19317.500000

                                                                               Profits
Sector                     Industry
Aerospace & Defense        Aerospace and Defense                           1437.100000
Apparel                    Apparel                                          549.066667
Business Services          Advertising, marketing                           774.500000
                           Diversified Outsourcing Services                 307.500000
                           Education                                         23.000000
                           Financial Data Services                          918.736842
                           Miscellaneous                                    710.000000
                           Temporary Help                                   200.000000
                           Waste Management                                 343.600000
Chemicals                  Chemicals                                        754.266667
Energy                     Energy                                          -931.285714
                           Mining, Crude-Oil Production                   -4448.392857
                           Miscellaneous                                    476.000000
                           Oil and Gas Equipment, Services                 -449.666667
                           Petroleum Refining                              1875.764706
                           Pipelines                                        484.500000
                           Utilities: Gas and Electric                      732.073171
Engineering & Construction Engineering, Construction                        126.071429
                           Homebuilders                                     294.916667
Financials                 Commercial Banks                                4634.285714
                           Diversified Financials                          1903.200000
                           Insurance: Life, Health (Mutual)                 560.100000
                           Insurance: Life, Health (stock)                 1096.166667
                           Insurance: Property and Casualty (Mutual)       1147.285714
                           Insurance: Property and Casualty (Stock)        1600.107143
                           Real estate                                      632.000000
                           Securities                                       791.944444
Food and Drug Stores       Food and Drug Stores                            1117.266667
Food, Beverages & Tobacco  Beverages                                       1299.777778
                           Food Consumer Products                           963.150000
...                                                                                ...
Materials                  Metals                                          -160.071429
                           Miscellaneous                                      7.000000
                           Packaging, Containers                            277.812500
Media                      Entertainment                                   1427.000000
                           Publishing, Printing                            -191.285714
Motor Vehicles & Parts     Motor Vehicles and Parts                        1079.083333
Retailing                  Automotive Retailing, Services                   255.000000
                           General Merchandisers                           2013.700000
                           Specialty Retailers: Apparel                     254.611111
                           Specialty Retailers: Other                       489.523810
Technology                 Computer Peripherals                             993.750000
                           Computer Software                               1889.785714
                           Computers, Office Equipment                     8347.571429
                           Information Technology Services                 1261.692308
                           Internet Services and Retailing                 1482.133333
                           Network and Other Communications Equipment      1350.500000
                           Scientific,Photographic and Control Equipment    778.833333
                           Semiconductors and Other Electronic Components  1074.826087
Telecommunications         Telecommunications                              3242.466667
Transportation             Airlines                                        2644.444444
                           Mail, Package, and Freight Delivery             2947.000000
                           Miscellaneous                                    227.000000
                           Railroads                                       1801.000000
                           Transportation Equipment                         487.600000
                           Transportation and Logistics                     179.000000
                           Trucking, Truck Leasing                          212.222222
Wholesalers                Miscellaneous                                     17.000000
                           Wholesalers: Diversified                         207.720000
                           Wholesalers: Electronics and Office Equipment    232.125000
                           Wholesalers: Food and Grocery                    194.333333

[79 rows x 2 columns]

# The .agg() method

In [10]:
sector=df.groupby("Sector")

In [11]:
sector.agg({"Employees":"sum",
           "Profits":"mean",
           "Revenue":"min"})

                              Employees      Profits  Revenue
Sector
Aerospace & Defense              968057  1437.100000     1923
Apparel                          346397   549.066667     2204
Business Services               1361050   553.470588     1910
Chemicals                        463651   754.266667     2084
Energy                          1188927  -602.024590     1898
Engineering & Construction       406708   204.000000     1909
Financials                      3359948  1872.007194     1902
Food and Drug Stores            1395398  1117.266667     2151
Food, Beverages & Tobacco       1211632  1195.744186     2066
Health Care                     2678289  1414.853333     1987
Hotels, Resturants & Leisure    2484245   827.880000     1896
Household Products               646038   515.285714     1914
Industrials                     1545229   451.391304     1895
Materials                        638123   102.976744     1924
Media                            550314   973.880000     1921
Motor Vehicles & Parts          1082560  1079.083333     1986
Retailing                       6227629   597.875000     1999
Technology                      3578949  1769.343137     1920
Telecommunications               832468  3242.466667     2726
Transportation                  1536793  1226.916667     1995
Wholesalers                      525597   205.825000     1917

Using agg(), we can apply different aggregate function to different columns, even we can apply multiple aggregate function to 
the same column as below

In [14]:
sector.agg({"Profits":["sum","min","mean"],
          "Revenue":"sum"})

                             Profits                      Revenue
                                 sum    min         mean      sum
Sector
Aerospace & Defense            28742   -240  1437.100000   357940
Apparel                         8236     82   549.066667    95968
Business Services              28227  -1481   553.470588   272195
Chemicals                      22628   -816   754.266667   243897
Energy                        -73447 -23119  -602.024590  1517809
Engineering & Construction      5304   -155   204.000000   153983
Financials                    260209  -1194  1872.007194  2217159
Food and Drug Stores           16759    -62  1117.266667   483769
Food, Beverages & Tobacco      51417   -253  1195.744186   555967
Health Care                   106114   -458  1414.853333  1614707
Hotels, Resturants & Leisure   20697  -1394   827.880000   169546
Household Products             14428  -1149   515.285714   234737
Industrials                    20764  -6126   451.391304   497581
Materials                       4428  -1642   102.976744   259145
Media                          24347   -881   973.880000   220764
Motor Vehicles & Parts         25898   -889  1079.083333   482540
Retailing                      47830  -1243   597.875000  1465076
Technology                    180473  -4359  1769.343137  1377600
Telecommunications             48637   -271  3242.466667   461834
Transportation                 44169   -191  1226.916667   408508
Wholesalers                     8233   -502   205.825000   444800

In [16]:
sector.agg(["mean","sum","max"])

                                   Revenue                       Profits  \
                                      mean      sum     max         mean
Sector
Aerospace & Defense           17897.000000   357940   96114  1437.100000
Apparel                        6397.866667    95968   30601   549.066667
Business Services              5337.156863   272195   19330   553.470588
Chemicals                      8129.900000   243897   48778   754.266667
Energy                        12441.057377  1517809  246204  -602.024590
Engineering & Construction     5922.423077   153983   18114   204.000000
Financials                    15950.784173  2217159  210821  1872.007194
Food and Drug Stores          32251.266667   483769  153290  1117.266667
Food, Beverages & Tobacco     12929.465116   555967   67702  1195.744186
Health Care                   21529.426667  1614707  181241  1414.853333
Hotels, Resturants & Leisure   6781.840000   169546   25413   827.880000
Household Products             8383.464286   234737   78756   515.285714
Industrials                   10816.978261   497581  140389   451.391304
Materials                      6026.627907   259145   22534   102.976744
Media                          8830.560000   220764   52465   973.880000
Motor Vehicles & Parts        20105.833333   482540  152356  1079.083333
Retailing                     18313.450000  1465076  482130   597.875000
Technology                    13505.882353  1377600  233715  1769.343137
Telecommunications            30788.933333   461834  146801  3242.466667
Transportation                11347.444444   408508   58363  1226.916667
Wholesalers                   11120.000000   444800   48681   205.825000

                                                Employees
                                 sum    max          mean      sum      max
Sector
Aerospace & Defense            28742   7608  48402.850000   968057   197200
Apparel                         8236   3273  23093.133333   346397    65300
Business Services              28227   6328  26687.254902  1361050   216500
Chemicals                      22628   7685  15455.033333   463651    52000
Energy                        -73447  16150   9745.303279  1188927    75600
Engineering & Construction      5304    803  15642.615385   406708    92000
Financials                    260209  24442  24172.287770  3359948   331000
Food and Drug Stores           16759   5237  93026.533333  1395398   431000
Food, Beverages & Tobacco      51417   7351  28177.488372  1211632   263000
Health Care                   106114  18108  35710.520000  2678289   203500
Hotels, Resturants & Leisure   20697   5920  99369.800000  2484245   505000
Household Products             14428   7036  23072.785714   646038   110000
Industrials                    20764   4833  33591.934783  1545229   333000
Materials                       4428    991  14840.069767   638123    60000
Media                          24347   8382  22012.560000   550314   185000
Motor Vehicles & Parts         25898   9687  45106.666667  1082560   215000
Retailing                      47830  14694  77845.362500  6227629  2300000
Technology                    180473  53394  35087.735294  3578949   411798
Telecommunications             48637  17879  55497.866667   832468   281450
Transportation                 44169   7610  42688.694444  1536793   341240
Wholesalers                     8233   1472  13139.925000   525597    78500

# Iterating group values

In [32]:
df=pd.read_csv("fortune1000.csv",index_col="Rank")
df.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [34]:
industry=df.groupby("Industry")

In [35]:
#Lets find out the highest revenue of each industry
#Lets create empty dataframe to append our resulting dataframe
df2=pd.DataFrame(columns=df.columns)
df2

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [37]:
#Iterate each group using for loop
for group,data in industry:
   
    df2=df2.append(data.nlargest(1,"Profits"))

In [38]:
df2

,Company,Sector,Industry,Location,Revenue,Profits,Employees
186,Omnicom Group,Business Services,"Advertising, marketing","New York, NY",15134,1094,74900
45,United Technologies,Aerospace & Defense,Aerospace and Defense,"Farmington, CT",61047,7608,197200
67,American Airlines Group,Transportation,Airlines,"Fort Worth, TX",40990,7610,118500
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
191,CarMax,Retailing,"Automotive Retailing, Services","Richmond, VA",14874,597,22064
62,Coca-Cola,"Food, Beverages & Tobacco",Beverages,"Atlanta, GA",44294,7351,123200
616,USG,Materials,"Building Materials, Glass","Chicago, IL",3776,991,8900
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
23,J.P. Morgan Chase,Financials,Commercial Banks,"New York, NY",101006,24442,234598
113,EMC,Technology,Computer Peripherals,"Hopkinton, MA",24704,1990,72000
25,Microsoft,Technology,Computer Software,"Redmond, WA",93580,12193,118000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
59,Caterpillar,Industrials,Construction and Farm Machinery,"Peoria, IL",47011,2102,112200
16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359,10954,7300
248,ADP,Business Services,Diversified Outsourcing Services,"Roseland, NJ",11477,1453,55000
993,DeVry Education Group,Business Services,Education,"Downers Grove, IL",1910,140,11770
75,Honeywell International,Industrials,"Electronics, Electrical Equip.","Morris Plains, NJ",38581,4768,129000
633,First Solar,Energy,Energy,"Tempe, AZ",3579,546,6350
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
204,Visa,Business Services,Financial Data Services,"Foster City, CA",13880,6328,11300
94,Mondelez International,"Food, Beverages & Tobacco",Food Consumer Products,"Deerfield, IL",29636,7267,99000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
373,Weyerhaeuser,Materials,Forest and Paper Products,"Federal Way, WA",7082,506,12600
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
63,HCA Holdings,Health Care,Health Care: Medical Facilities,"Nashville, TN",43591,2129,203500
22,Express Scripts Holding,Health Care,Health Care: Pharmacy and Other Services,"St. Louis, MO",101752,2476,25900
...,...,...,...,...,...,...,...
170,Nucor,Materials,Metals,"Charlotte, NC",16439,358,23700
598,Antero Resources,Energy,"Mining, Crude-Oil Production","Denver, CO",3955,941,480
93,3M,Industrials,Miscellaneous,"St. Paul, MN",30274,4833,89446
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
54,Cisco Systems,Technology,Network and Other Communications Equipment,"San Jose, CA",49161,8981,71833
319,Cameron International,Energy,"Oil and Gas Equipment, Services","Houston, TX",8782,501,23000
127,International Paper,Materials,"Packaging, Containers","Memphis, TN",22365,938,56000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
86,Gilead Sciences,Health Care,Pharmaceuticals,"Foster City, CA",32639,18108,8000
104,Enterprise Products Partners,Energy,Pipelines,"Houston, TX",27028,2521,6800
255,R.R. Donnelley & Sons,Media,"Publishing, Printing","Chicago, IL",11257,151,68400
129,Union Pacific,Transportation,Railroads,"Omaha, NE",21813,4772,47457
488,Simon Property Group,Financials,Real estate,"Indianapolis, IN",5266,1828,4075
133,Danaher,Technology,"Scientific,Photographic and Control Equipment","Washington, DC",20909,3357,81000
250,BlackRock,Financials,Securities,"New York, NY",11401,3345,13000
51,Intel,Technology,Semiconductors and Other Electronic Components,"Santa Clara, CA",55355,11420,107300
89,TJX,Retailing,Specialty Retailers: Apparel,"Framingham, MA",30945,2278,216000
28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000
13,Verizon,Telecommunications,Telecommunications,"New York, NY",131620,17879,177700
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
106,Philip Morris International,"Food, Beverages & Tobacco",Tobacco,"New York, NY",26794,6873,80200
407,Trinity Industries,Transportation,Transportation Equipment,"Dallas, TX",6393,797,22030
208,C.H. Robinson Worldwide,Transportation,Transportation and Logistics,"Eden Prairie, MN",13476,510,13159
416,J.B. Hunt Transport Services,Transportation,"Trucking, Truck Leasing","Lowell, AR",6188,427,21562
115,Duke Energy,Energy,Utilities: Gas and Electric,"Charlotte, NC",24002,2816,29188
221,Waste Management,Business Services,Waste Management,"Houston, TX",12961,753,40600
320,HD Supply Holdings,Wholesalers,Wholesalers: Diversified,"Atlanta, GA",8779,1472,14000
102,Avnet,Wholesalers,Wholesalers: Electronics and Office Equipment,"Phoenix, AZ",27925,572,18800
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400